body {
    background-color: aqua;
}

header {
    display: flex;
  }
  
main {
    display: flex;
}
  .fishList {
      border: solid 3px black;
  }

  .quotes {
    border: solid 3px black;
  }

  .locations {
      border: solid 3px black;
  }

  .tankTips {
      border: solid 3px black;
      min-height: 250px;
      padding: 1rem;
  }

  .container--left {
    flex: 3;
     margin-right: 25px;
     display: flex;
     flex-direction: column;
     align-content: space-between;
 } 
 
  .container--right {
      flex:1;
      min-height: 250px;
    
  }

  .location__image {
      width:300px; 
      height:400px;
  }
  
  .fish__image {
     width:200px;
     height:300px; 
  }

  .fishList {
      display: flex;
  }
 