body {
    background-image: url("../images/underwater_background.jpg");
    background-color: #cccccc; 
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

header {
    display: flex;
  }

  h1 {
      font-size: 6em;
      font-family: Comic Sans MS, Comic Sans, cursive;
  }
  
main {
    display: flex;
}
  .fishList {
      border: solid 3px black;
  }

  .quotes {
    border: solid 3px black;
    padding: 1em;
  }

  .locations {
      border: solid 3px black;
      padding: 1em;
  }

  .tankTips {
      border: solid 3px black;
      min-height: 250px;
      padding: 1rem;
  }
  
  .tip {
      padding: 1em;
      color: white;
  }

  .container--left {
    flex: 3;
     margin-right: 25px;
     display: flex;
     flex-direction: column;
     align-content: space-between;
     padding: 1rem;
 } 
 
  .container--right {
      flex:1;
      min-height: 250px;
      padding-top: 1em;
  }

  .location__image {
      width:300px; 
      height:400px;
  }

  .location__name {
      text-decoration: underline;
  }

  .location_url {
      font-size: 2em;
      color: red;
      border: solid 4px yellow;
  }
  
  .fish__image {
     width:200px;
     height:300px; 
  }

  .fishList {
      display: flex;
      padding: 1em;
  }
  .fish {
      padding: 1em;
      color: purple;
      font-family: Comic Sans MS, Comic Sans, cursive;
  }

  .quote {
      padding: 1em;
      color: purple;
      font-size: 1em;
      font-family: Comic Sans MS, Comic Sans, cursive;
  }

  .location__description {
      padding: 1em;
      color: white;
      font-size: 2em;
  }

  .location__name {
      font-family: Comic Sans MS, Comic Sans, cursive;
      font-size: 2em;
      color: yellow;
  }

  h2 {
      font-size: 2em;
      font-family: Comic Sans MS, Comic Sans, cursive;
      color: yellow;
  }

  .fish__name {
      font-family: Comic Sans MS, Comic Sans, cursive;
      text-decoration: underline;
  }

  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid yellow;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }